.drop-down-container {
    transition: background-color 1s;
    width: 350px;
    padding: 20px;

    display: flex;
    align-items: center;

    &:hover {
        background-color: #c9c9c9;
        transition: background-color 1s;
        .drag-btn {
            transition: opacity 1s;
            opacity: 1;
        }
    }

    .drag-btn {
        transition: opacity 1s;
        opacity: 0;
        margin-right: 20px;
        cursor: grab;
    }

    .delete-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-left: 20px;

        svg {
            color: rgb(255, 54, 54);
            font-size: 20px;
        }
    }


    .drop-down-inner-container {
        width: 100%;
        position: relative;
    
        .drop-dwon-button-container {
            position: relative;
            
            .drop-down-btn {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 5px 20px;
                height: 30px;
                background-color: white;
                border: 1px solid rgb(142, 142, 142);
                cursor: pointer;
    
                svg {
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 20px;
                    color: rgb(142, 142, 142);
                }
            }
        }
    
    
        .drop-down-close {
            height: 0;
    
        }
    
        .drop-down-open {
            max-height: 300px;
        }
    
        .drop-down-manu-container {
            width: 100%;
            background-color: #373737;
            position: absolute;
            top: 98%;
            overflow: hidden;
            z-index: 99;
    
            .drop-down-search-input {
                display: flex;
                justify-content: center;
    
                input {
                    width: 100%;
                    padding: 5px 15px;
    
                    &:focus-visible {
                        outline: none;
                    }
                
                }
            }
    
            ul {
                list-style: none;
                max-height: 200px;
                overflow: auto;
    
                li {
                    padding: 5px 20px;
                    transition: background-color 0.5s;
                    color: white;
                    
                    &:hover {
                        cursor: pointer;
                        transition: background-color 0.5s;
                        background-color: rgb(173, 173, 173);
                    }
                }
                
            }
        }
            
    }
}

