@import './custom-drop-down-styling';

*,  body {
   margin: 0;
   padding: 0;
}

.home-container {
    padding: 30px;
}

.add-drop-down-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 30px;

    svg {
        color: rgb(4, 226, 226);
        margin-right: 20px;
    }
}